<div id="wrapper" class="clearfix">
  <div id="content">
    <div class="logo">
      The Super Times
    </div><!-- logo #end -->

    <div class="offering">
      An audio magazine for your iPhone
    </div>
    <div class="description">
      The Super Times app is for busy people (like us) who want great stuff to listen to at the click of a button - just sync &amp; go.
    </div>
    
    <div class="offering">
      Subscribe for diverse weekly editions
    </div>
    <div class="description">
      Each week we send you a selection of the best audio documentaries, discussions, stories, 
      interviews, news, programmes from the archives and all the thought-provoking conversations
      we can get our hands on.
    </div>

    <div class="closing">
      Super listening, for super people
    </div>
    <div class="description">
      We're launching soon! sign up to be the first to know.
    </div>

    <% if flash[:notice] %>
      <div class="notice"><em>*</em> <%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="error"><em>*</em> The email address <%= flash[:error] %></div>
    <% end %>
    
    <div class="subscribe">
      <%= form_for(@interested_user) do |f| %>
        <p>
          <%= f.text_field(:email, {:class => "textfield", :maxlength => 100}) %>
          <%= f.submit('', {:name => 'go', :class => "submit"}) %>
        </p>
      <% end %>
    </div>
    <p class="social">
      Follow us on <a href="http://twitter.com/#!/TheSuperTimes" target="_blank">Twitter</a> or 
      <a href="http://www.facebook.com/pages/The-Super-Times/182171455217497" target="_blank">Facebook</a>
      <br/>
      <span class="company">&copy; 2012 <a href="http://said.fm/" target="_blank">Said.fm</a> productions all rights reserved.
    </p>
  </div><!-- content #end -->
  <div id="sidebar">
    <img src="/images/phone.png" alt="" />
  </div>
</div><!-- wrapper #end -->

<script>
  jQuery(document).ready(function() {
    jQuery('#interested_user_email').focus(function(){
      if($(this).val() == "email..."){
        $(this).val("");
      }
      return false;
    });
    
    jQuery('#interested_user_email').blur(function(){
      if($(this).val() == ""){
        $(this).val("email...");
      }
      return false;
    });
  });
</script>
