<div id="wrapper" class="clearfix">
  <div id="content">
    <div class="logo">
      Super Owl
    </div><!-- logo #end -->
    <blockquote>
      audio stories, every week,
      <br/>to enjoy on every commute
    </blockquote>
    <ul>
      <li>
        <strong>An audio service for your iPhone</strong><br />
        Super Owl is a service for busy commuters (like us), just sync & get going.
      </li>
      <li>
        <strong>The best handpicked audio stories</strong><br/>
        Our Story Jockeys hand pick the best audio programmes from independent DIY audio makers through to large broadcasters. 
      </li>
      <li>
        <strong>Diverse weekly bundles</strong><br />
        We like documentaries, discussions, interviews, fiction, true stories, 
        archival radio pieces &amp; even the occasional bit of whimsical conversation.
      </li>
      <li>
        <strong>Adjustable weekly bundles</strong><br />
        You can adjust bundles by commute duration and likes or dislikes.
      </li>
    </ul>
    <p class="highlight">
      Make your tube, metro, bus, train or plane journeys SUPER!
    </p>
    <p class="soon">
      Coming soon, in the meantime register for updates:
    </p>
    <% if flash[:notice] %>
      <div class="notice"><em>*</em> <%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="error"><em>*</em> The email address <%= flash[:error] %></div>
    <% end %>
    
    <div class="subscribe">
      <%= form_for(@interested_user) do |f| %>
        <p>
          <%= f.text_field(:email, {:class => "textfield", :maxlength => 100}) %>
          <%= f.submit('', {:name => 'go', :class => "submit"}) %>
        </p>
      <% end %>
    </div>
    <p class="social">
     Follow us on <a href="http://twitter.com/#!/TheSuperOwl" target="_blank">Twitter</a> or 
     <a href="http://www.facebook.com/pages/Super-Owl/137639216311498" target="_blank">Facebook</a> | 
     <a href="http://blog.superowl.me/" target="_blank">Read our blog</a> 
    </p>
  </div><!-- content #end -->
  <div id="sidebar">
    <img src="/images/phoneowl.png" alt="" />
    <p class="copy">
      &copy; 2011 <a href="http://said.fm/" target="_blank">Said.fm</a> productions All rights reserved.
    </p>
  </div>
</div><!-- wrapper #end -->

<script>
  jQuery(document).ready(function() {
    jQuery('#interested_user_email').focus(function(){
      if($(this).val() == "enter email address..."){
        $(this).val("");
      }
      return false;
    });
    
    jQuery('#interested_user_email').blur(function(){
      if($(this).val() == ""){
        $(this).val("enter email address...");
      }
      return false;
    });
  });
</script>